section.create_new_album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;

      label {
        text-transform: uppercase;
        font-weight: bold;
      }
      input {
        margin: 1em 1em;
        padding: 1em;
        border-radius: 4px;
      }

      button {
        color: #fff;
        padding: 1em 2em;
        border: 0;
        background-color: #333;
        border-radius: 4px;
      }
    }
  }
}
